<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>notLoggedIn</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h3>
          <%=message%>
        </h3>
        <button onclick="location.href='/login'" type="button">Login</button>
        <button onclick="location.href='/signup'" type="button">Sign Up</button>
      </div>
    </div>

  </div>
  <!-- Include Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>