<div>


    <div class="p-4 w-56 h-64 bg-sky-blue fixed top-24 left-11 rounded-2xl bg-opacity-45 backdrop-blur-xs" id="matchInformationCard">
        <button id="closeBtn"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg></button>
        <div class="text-center" >
            <p class="text-2xl "><%= matchType %></p>
            <p><%= matchLocation %></p>
            <p>start <%= matchTime %>
            </p>
            <form action="/lobby" class="m-9">
                <input type="hidden" name="matchID" value="<%= matchID %>">
                <button type="submit" class=" m-3 p-2 bg-sky-blue text-white h-12 w-36 rounded-2xl" id="joinMatchBtn">
                   Join Match
                </button>
        
            </form>
        </div>

       
    </div>

   

    <script src="/scripts/matchInformation.js"></script>

</div>