<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="icon" href="/favicon.png" type="image/png">
</head>

<body>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <!-- Display the user's profile with name email and type -->
        <h3>
          <%=name %>'s Profile
        </h3>
        <ul>
          <li> Name: <%=name %>
          </li>
          <li>Type: <%=type%>
          </li>
          <li> Email: <%=email %>
          </li>
        </ul>
        <button onclick="location.href='/resetPassword'" type="button">Reset Password</button>
      </div>
    </div>

  </div>
  <!-- Include Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>