#image {
  margin-top: 10px;
  width: 100px;
  ;
  padding: 20px;
  font-weight: 400;
  height: 50px;
  user-select: none;
  text-decoration: line-through;
  font-style: italic;
  font-size: 20px;
  border: midnightblue 2px solid;

  display: flex;
  justify-content: center;
  align-items: center;

}

#user-input {
  width: auto;
  margin-right: 10px;
  padding: 10px;
  padding-bottom: 0px;
  height: 40px;
  border: red 0px solid;
}

input {
  border: 1px black solid;
}

.inline {
  display: inline-block;
}

#btn {
  color: aqua;
  margin: 10px;
  background-color: brown;
}