<%- include ('templates/header') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <body>
    <div class="d-flex flex-column justify-content-center align-items-center text-center">

      <h6 class="m-2"> Sorry, this page does not exist</h6>
      <img class="m-2" style="width:300px; height:200px; border: 3px solid #000;
      border-radius: 5px;"
        src="https://img.freepik.com/premium-photo/pet-animal-cute-cat-indoor-house-cat-scottish-fold-cat_693630-6506.jpg?w=1800">
      <button class="btn btn-primary m-2" onclick="location.href='/'" type="button"> Home</button>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  </body>

  </html>