<%- include ('templates/header') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <body>
    

      <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="card-body bg-sky-blue rounded-2xl">
          <div class="card-title text-center">
            <button class="float-left p-2 bg-baby-blue rounded-lg" onclick="location.href='/profile'" type="button">
            <i class="fas fa-arrow-left text-2xl"></i>
          </button>
          <h1 class="pb-2">Edit Profile</h1>
        </div>
          <form action="/updateProfile" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name" class="text-2xl">Name:</label>
              <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
              <label for="bio" class="text-2xl">Bio:</label>
              <textarea id="bio" name="bio" class="form-control" rows="3" placeholder="Enter your custom bio" required></textarea>
            </div>
            <div class="form-group">
              <label for="profilePicture" class="text-2xl">Profile Picture:</label>
              <input type="file" id="profilePicture" name="profilePicture" class="form-control">
            </div>
            <button type="submit" class="m-2 p-2 bg-baby-blue rounded-lg text-xl">Update</button>
          </form>
        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  </body>

  </html>