<%- include('templates/header') %>
    
<body class="bg-rose">
        <div class="bg-sky-blue pt-10 bg-pacific rounded-b-3xl #4BA3C3">
            <div class="mx-3 bg-dark-blue my-3 py-2 flex flex-row justify-between px-6 rounded-3xl text-2xl">
                <div id="localBoard" class="rounded-3xl py-1 px-4">Local</div>
                <div id="regionalBoard" class="rounded-3xl ml-2 py-1 px-4">Regional</div>
                <div id="globalBoard" class=" bg-baby-blue rounded-3xl py-1 px-4">Global</div>
            </div>
            <button id="backButton" class="ml-5 mr-5 bg-baby-blue mt-2 w-22 h-20 border-2 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left pr-2"
                    width="80" height="65" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M15 6l-6 6l6 6" />
                </svg>
            </button>
            <div class="justify-center flex relative">
                <svg xmlns="http://www.w3.org/2000/svg" class="translate-y-3 icon icon-tabler icon-tabler-crown" width="65"
                    height="65" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffec00" fill="#ffec00"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z" />
                </svg>
            </div>
            <div class="justify-center center flex">
                <div class="flex flex-row h-32 w-32 rounded-full bg-black flex-none"></div>
            </div>
            <div class="flex flex-row justify-between px-9">
                <div class="flex flex-col text-center items-center">
                    <div class="h-28 w-28 rounded-full bg-black flex-none"></div>
                    <div class="text-lg font-bold">Lorem Ipsum</div>
                    <div class="text-lg font-bold">1000</div>
                    <div class="relative -translate-y-20">
                        <div class="h-8 w-8 rounded-full text-xl text-center bg-baby-blue">2</div>
                    </div>
                </div>
                <div class="flex-col flex items-center text-center">
                    <div class="text-lg font-bold">Lorem Ipsum</div>
                    <div class="text-lg font-bold">1000</div>
                </div>
                <div class="flex flex-col text-center items-center">
                    <div class="h-28 w-28 rounded-full bg-black flex-none"></div>
                    <div class="text-lg font-bold">Lorem Ipsum</div>
                    <div class="text-lg font-bold">1000</div>
                    <div class="relative -translate-y-20">
                        <div class="h-8 w-8 rounded-full text-xl text-center bg-baby-blue">3</div>
                    </div>
                </div>
            </div>
        </div>


        <div
            class="bg-crimson normal-ranking px-6 py-2 mt-4 mx-2 flex flex-row justify-between items-center rounded-3xl">
            <div class="text-4xl">4</div>
            <div class="h-20 w-20 rounded-full bg-black"></div>
            <div class="text-2xl font-bold">Lorem Ipsem</div>
            <div class="text-2xl font-bold">1000</div>
        </div>

        <div
            class="normal-ranking px-6 py-2 bg-crimson mt-4 mx-2 flex flex-row justify-between items-center rounded-3xl">
            <div class="text-4xl">4</div>
            <div class="h-20 w-20 rounded-full bg-black"></div>
            <div class="text-2xl font-bold">Lorem Ipsem</div>
            <div class="text-2xl font-bold">1000</div>
        </div>

        <div
            class="normal-ranking px-6 py-2 mt-4 bg-crimson mx-2 flex flex-row justify-between items-center rounded-3xl">
            <div class="text-4xl">4</div>
            <div class="h-20 w-20 rounded-full bg-black"></div>
            <div class="text-2xl font-bold">Lorem Ipsem</div>
            <div class="text-2xl font-bold">1000</div>
        </div>

        <div
            class="normal-ranking bg-crimson px-6 py-2 mt-4 mx-2 flex flex-row justify-between items-center rounded-3xl">
            <div class="text-4xl">4</div>
            <div class="h-20 w-20 rounded-full bg-black"></div>
            <div class="text-2xl font-bold">Lorem Ipsem</div>
            <div class="text-2xl font-bold">1000</div>
        </div>        
        
        <div
            class="normal-ranking bg-crimson px-6 py-2 mt-4 mx-2 flex flex-row justify-between items-center rounded-3xl">
            <div class="text-4xl">4</div>
            <div class="h-20 w-20 rounded-full bg-black"></div>
            <div class="text-2xl font-bold">Lorem Ipsem</div>
            <div class="text-2xl font-bold">1000</div>
        </div>

        <%- include('templates/footer') %>

    </body>