<%- include ('templates/header') %>

    <div class="m-10">
        <h1 class="text-5xl text-center" >*Sports Center Name*</h1>
    </div>

    <div id="playerCard" class="flex flex-row mt-2 bg-gray-200 px-2 py-1 rounded-full w-64">
        <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" class="w-12 h-12 rounded-full">
        <!--Populate name from database-->
        <div id="playerName" class="text-xl text-center">Player 1</div>
    </div>




<%- include ('templates/footer') %>