<%- include('templates/header') %>
    <div class="text-center pt-10 space-y-3">
        <h1 class=" pt-4 text-5xl">Match</h1>
        <h1 class="pt-4 text-4xl">Rank</h1>
        <div class="flex flex-row justify-center">
            <div class="flex flex-col space-y-2 mr-3">
                <button class=" text-6xl border-8 px-4 pb-3 rounded-full">+</button>
                <button class=" text-6xl border-8 px-4 pb-3 rounded-full">-</button>
            </div>
            <div class="text-9xl mt-3">0-0</div>
            <div class="flex flex-col space-y-2 ml-3">
                <button class=" text-6xl border-8 px-4 pb-3 rounded-full">+</button>
                <button class=" text-6xl border-8  px-4 pb-3 rounded-full">-</button>
            </div>
        </div>
        <div class="text-6xl"> 60:00</div>
    </div>

    <div class="flex mt-5 flex-row justify-between">
        <div class="flex flex-col ml-4 p-1 border-4 rounded-lg width-5/12">
            <div class=" text-center text-2xl">Team</div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>

        </div>
        <div class="flex flex-col mr-4 p-1 border-4 rounded-lg width-5/12">
            <div class=" text-center text-2xl">Opponents</div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>
            <div class="flex flex-row mt-2 border-4 rounded-lg">
                <img class="size-10"
                    src="https://b.fssta.com/uploads/application/nba/headshots/1120.vresize.350.350.medium.77.png"
                    alt="">
                <div class="flex pt-1.5 flex-col pl-0.5">
                    <div class="text-xs">Lorem ipsum</div>
                    <div class="text-xs"> Challenger</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-user-plus" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2 icon icon-tabler icon-tabler-flag-2" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 14h14v-9h-14v16" />
                </svg>
            </div>

        </div>
    </div>
    <div class=" mt-2 flex flex-row justify-between">
        <div class="ml-4 px-7 py-3 width-5/12 text-5xl rounded-lg border-4">Pause</div>
        <div class="mr-4 px-12 py-3 width-5/12 text-5xl rounded-lg border-4">End </div>
    </div>