<%-include ('templates/header')%>
    <div class="bg-green-500 text-black py-2 px-4">
        <h1 class="text-5xl font-bold text-center">Victory</h1><!--placeholder for status either victory or defeat-->
    </div>