<%- include('templates/header') %>

    <body class="bg-dark-blue flex justify-center items-center h-screen p-2 text-baby-blue"><!--change bg color later-->
        <div class=" max-w-screen-lg bg-rose rounded-lg overflow-hidden shadow-lg ">
            <!-- Your content here -->
            <div class="relative flex flex-col min-w-0 break-words rounded">
                <div id="status" class=" py-2 px-4 mt-10">
                    <h1 class="text-5xl font-bold text-center">Victory</h1>
                    <!--placeholder for status either victory or defeat-->
                </div>
                <br>
                <div id="score">
                    <h1 class="text-5xl font-bold text-center">115-23</h1><!--score placeholder-->
                </div>
            </div>
            <div class="flex justify-center items-center mt-4 mb-5">
                <div
                    class="bg-crimson border border-black h-48 w-48 flex justify-center items-center shadow-md rounded-full">
                    <div class="text-center m-4 px-4">
                        <p class="text-xl font-bold">+20</p><!--mmr gained-->
                        <p class="text-xl font-bold">1900</p><!--current mmr-->
                        <p class="text-2xl">Challenger</p><!-- current rank-->
                    </div>
                </div>
            </div>
            <br>
            <div id="gameName">
                <h1 class="text-2xl mb-5 font-bold text-center">2 vs 2 Basketball game </h1>
            </div>
            <div class="flex mx-5justify-center"><!--team cards-->
                <div class="max-w-sm rounded overflow-hidden shadow-lg mx-4 bg-dark-blue text-center">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2 text-white">Your Team</div>
                        <div class="mb-2">
                            <span
                                class="flex items-center mr-2 bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#000000"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                                </svg>
                                <p class=" text-xl">Player 1</p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#9e9e9e"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                    <path d="M16 19h6" />
                                    <path d="M19 16v6" />
                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flag"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#9e9e9e"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0v9a5 5 0 0 1 -7 0a5 5 0 0 0 -7 0v-9z" />
                                    <path d="M5 21v-7" />
                                </svg>
                            </span>
                        </div>
                        <div class="mb-2">
                            <span
                                class="flex items-center mr-2 bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#000000"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                                </svg>
                                <p class=" text-xl">Player 2</p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#000000"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                    <path d="M16 19h6" />
                                    <path d="M19 16v6" />
                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flag"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#d62839"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0v9a5 5 0 0 1 -7 0a5 5 0 0 0 -7 0v-9z" />
                                    <path d="M5 21v-7" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="max-w-sm rounded overflow-hidden shadow-lg mx-4 bg-crimson text-center">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2 text-white">Your Team</div>
                        <div class="mb-2">
                            <span
                                class="flex items-center mr-2 bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#000000"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                                </svg>
                                <p class=" text-xl">Player A</p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#000000"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                    <path d="M16 19h6" />
                                    <path d="M19 16v6" />
                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flag"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#d62839"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0v9a5 5 0 0 1 -7 0a5 5 0 0 0 -7 0v-9z" />
                                    <path d="M5 21v-7" />
                                </svg>

                            </span>
                        </div>
                        <div class="mb-2">
                            <span
                                class="flex items-center mr-2 bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#000000"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                                </svg>
                                <p class=" text-xl">Player B </p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#000000"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                    <path d="M16 19h6" />
                                    <path d="M19 16v6" />
                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flag"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#d62839"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0v9a5 5 0 0 1 -7 0a5 5 0 0 0 -7 0v-9z" />
                                    <path d="M5 21v-7" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div> <!--end of team cards, dynamically populate later and to shorten this-->
            <br>
            <br>
            <br>
        </div>
    </body>