<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password with email</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="icon" href="/favicon.png" type="image/png">
</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h3> Reset password </h3>
        <form action="/resetPasswordWithEmail" method="post">
          <div class="row m-2"><label for="email">Email:</label>
            <input class="m-2" type="email" id="email" name="email" required>
          </div>
          <div class="row m-2"><label for="newPassword">New Password:</label>
            <input type="password" class="m-2" id="newPassword" name="newPassword" required>
          </div>
          <input type="submit" value="Reset Password">
        </form>
      </div>
    </div>

  </div>
  <!-- Include Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>