<%- include ('templates/header') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h3> Reset password </h3>
        <form action="/resetPasswordWithEmail" method="post">
          <div class="row m-2">
            <label for="email">Email:</label>
            <input class="m-2" type="email" id="email" name="email" required>
          </div>
          <input class="btn btn-primary" type="submit" value="Send Reset Link">
        </form>
      </div>
    </div>
  </div>
  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Include Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

  </html>