<%- include ('templates/header') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <body onload="generate()">
    <div class="container d-flex justify-content-center align-items-center mt-5">
      <div class="card border border-dark">
        <div class="card-body">
          <h1 class="card-title text-center">Sign-up</h1>
          <form id="signupForm" action="/signup" method="post">
            <div class="mb-3" style="display: flex; align-items: center;">
              <input type="text" name="name" placeholder="Name" class="form-control" required />
              <p style="color:red; margin-left: 5px;">*</p>
            </div>
            <div class="mb-3" style="display: flex; align-items: center;">
              <input type="email" name="email" placeholder="Email" class="form-control" required />
              <p style="color:red; margin-left: 5px;">*</p>
            </div>
            <div class="mb-3" style="display: flex; align-items: center;">
              <input type="password" name="password" placeholder="Password must be 8-16 characters" class="form-control"
                required />
              <p style="color:red; margin-left: 5px;">*</p>
            </div>
            <div class="mb-3" style="display: flex; align-items: center;">
              <input type="text" name="city" placeholder="City" class="form-control"
                required />
              <p style="color:red; margin-left: 5px;">*</p>
            </div>
            <div class="mb-3" style="display: flex; align-items: center;">
              <input type="text" name="country" placeholder="Country" class="form-control"
                required />
              <p style="color:red; margin-left: 5px;">*</p>
            </div>
            <div id="captcha">
              <div style="display: flex; align-items: center;">
                <div id="user-input" class="inline">
                  <input type="text" id="submit-captcha" name="captcha" placeholder="Captcha code" required />
                </div>
                <p style="color:red; margin-left: 5px;">*</p>
              </div>

              <div style="display: flex; align-items: center; justify-content: center;">
                <div class="inline m-1" onclick="generate()">
                  <i class="fas fa-sync"></i>
                </div>
                <div id="image" class="inline" selectable="False"></div>
                <p id="key"></p>
              </div>

            </div>
            <p style="font-size: 12px"> <span style="color:red; font-size: 18px">*</span> indicates required field</p>
            <input class="btn btn-primary" type="submit" value="Submit" />
            <button onclick="location.href='/home'" type="button" class="btn btn-info">Go home</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="captcha.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script>
      let uniquechar = "";

      function generate() {
        document.getElementById("submit-captcha").value = "";
        captcha = document.getElementById("image");
        uniquechar = "";
        const randomchar = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (let i = 0; i < 5; i++) { uniquechar += randomchar.charAt(Math.floor(Math.random() * randomchar.length)); }
        captcha.innerHTML = uniquechar;
      } document.getElementById("signupForm").onsubmit = function (event) {
        const
          user_input = document.getElementById("submit-captcha").value; if (user_input !== uniquechar) {
            document.getElementById("key").innerHTML = "not Matched"; generate();
            event.preventDefault();
          }
      }</script>
  </body>

  </html>